
dist
.solid
.output
.vercel
.netlify
.vinxi
.nitro

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# System Files
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars
